# 编译输出
*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE
.vs/
.vscode/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters

# 临时文件
*.tmp
*.temp
*.log
